
*{
    margin: 0;
    padding: 0;
    font-family: 'Bai Jamjuree', sans-serif;
font-family: 'Barlow', sans-serif;
font-family: 'League Spartan', sans-serif;
font-family: 'Outfit', sans-serif;
}

.job-card  {
    box-shadow: 0px 20px 20px -10px hsla(180, 29%, 50%, 0.323);
 margin-top: 60px;
 width: 180vh;
 position: relative;
 left: 2vh;
 height: 150px;

 border-radius: 6px;
 
}

.job-card h2, p {
    position: relative;
    left: 100px;
    top: -80px;
}


.teste  {
    left: 20vh;
    position: relative;
    color: hsl(180, 29%, 50%);
    font-size: 16px;
    margin-top: -1vh;

}

hr {
    display: none;
}

.position {
    font-family: 'Barlow', sans-serif;
font-family: 'League Spartan', sans-serif;
font-family: 'Outfit', sans-serif;
    font-weight: 800;
    margin-top: 20px;
    
}

.at {
    color: gray;
    margin-top: 50px;
}

 

.new p:first-child {
    background-color: hsl(180, 29%, 50%);
    color: white;
    width: 48px;
    border-radius: 10px;
    height: 20px;
    font-size: 15px;
    margin-top: -20px;
    margin-right: 15px;
    
  
}

.new {
    display: flex;
    margin-top: -38px;
    margin-left: 85px;
    font-weight: 500;
}

.new p:last-child{
    background-color: black;
    color: white;
    width: 80px;
    border-radius: 10px;
    height: 20px;
    position: relative;
    font-size: 15px;
    margin-top: -20px;
    right: 20px;
    font-weight: 500;
}



.new-off{
    display: none;
}

.tools-off{
    display: none;
}


.all{
    display: flex;
    position: relative;
    left: 50%;
    width: fit-content;
    margin-top: -35vh;
}

.all button{
    color:hsl(180, 29%, 50%);
    background-color: hsl(180, 31%, 95%);
    font-size: 15px;
    font-weight: 700;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-left: 20px;
    cursor: pointer;
    position: relative;
    top: 10vh;
}

.languages-off {
    display: none;
}

.all button:hover{
    background-color:hsl(180, 29%, 50%); ;
    color: white;
    transition: 0.75s;
}
 
    
@media (max-width:765px) {
    .job-card{
        width: 50vh;
        margin-top: 10vh;
        height: 42vh;
        position: relative;
        right: 287vh;
        
    
      
        
        
       
    }

.teste {
    position: relative;
    top: 40vh;
    margin-top: 50px;
    
}
    .all button{
        margin-top: 100px;
         position: relative;
         right: 150px;
        
         
        }

       
      .position {
        top: -15vh;
        right: 800px;
        position: relative;
    
      }
        .at {
            
            position: relative;
            top: -80px;
            right: 240vh;
            
        }

        .logo {
          top: -7vh;
          position: relative;
          width: 17%;
          left: 2vh;
        }
        
        .l3{
            position: relative;
            top: 10vh;
            right: 40vh;
        }

        .l2{
            position: relative;
            top: 10vh;
            right: 43vh;
        }

        .bt1{
            position: relative;
            top: 10vh;
            right: 45vh;
        }

        .bt2{
            position: relative;
            top: 10vh;
            right: 40vh;
        }
   hr{
    display: block;
    margin-top: 20px;
   }
        
}

